*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    padding: 1rem;
    color: #000;
    font-size: 3rem;
    text-align: center;
}

.container h1{
    padding: 1rem 2rem;
    background-color: rgb(199, 199, 199);
    color: #000;
    font-size: 1.8rem;
    border-radius: 1rem;
}

button{
    margin: 1rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: aquamarine;
    transition: all .4s;
    font-size: 1rem;
    font-weight: bold;
    
}
button:hover{
    background-color: beige;
    box-shadow: 5px 5px 10px ;
}

